@import url('https://fonts.googleapis.com/css2?family=Bonheur+Royale&display=swap');
@import 'node_modules/modern-normalize/modern-normalize.css';

/**
 * IMPORTANT!!!
 * You can find the theme related variables within the Theme component.
 */

:root {
  --font-size-small: 12px;
  --font-size-normal: 14px;
  --font-size-large: 16px;
  --font-size-headline: 22px;
  --font-size-title: 26px;
  --font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  --header-font-family: Bonheur Royale, sans-serif;
  --gap: 10px;
}

html,
body {
  font-family: var(--font-family);
  background: var(--color-background);
  color: var(--color-on-background);
  transition: background 0.3s ease-in-out;
}

a, a:visited {
  color: var(--color-secondary);
  text-decoration: none;
}
a:hover {
  color: var(--color-secondary-alt);
  text-decoration: underline;
}
